# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
Include/
Lib/
Scripts/
share/
venv/

uploads/

output_audio/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db



backend/ai/venv/
